/MI.STORE/MI.COM/obj
/MI.STORE/MI.COM/bin
/MI.STORE/MI.Common/bin
/MI.STORE/MI.Common/obj
/MI.STORE/MI.Interface/bin
/MI.STORE/MI.Interface/obj
/MI.STORE/MI.Models/obj
/MI.STORE/MI.Models/bin
/MI.STORE/MI.Server/obj
/MI.STORE/MI.Server/bin
/MI.STORE/MI.UnitTest/obj
/MI.STORE/MI.UnitTest/bin
/MI.STORE/packages
